<div class="container marketing">

      <div class="recipe">
        <div class="row">
          <div class="col-sm-4">
            <img class="img-thumbnail" width="400" height="300" <%= image_tag("snickers.jpg", :alt => "snickers") %>
            <h2>The Best Ever Raw Vegan Snickers</h2>
            <p><a class="btn btn-default btn-success" <%= link_to "View Recipes",snickers_path %>
          </div>

          <div class="col-sm-4">
            <img class="img-thumbnail" width="400" height="300" <%= image_tag("noimage.jpg", :alt => "Burger 2") %>  
            <h2>Recipe2</h2>
            <p><a class="btn btn-default btn-success" <%= link_to "View Recipes",veggie_path %>
          </div>

          <div class="col-sm-4">
            <img class="img-thumbnail" width="400" height="300" <%= image_tag("noimage.jpg", :alt => "Burger 3") %> 
            <h2>Recipe3</h2>
            <p><a class="btn btn-default btn-success" <%= link_to "View Recipes",meat_path %>
          </div>
        </div>

     

        <div class="row">
              <div class="col-sm-4">
                <img class="img-thumbnail" width="400" height="300" <%= image_tag("noimage.jpg", :alt => "Burger 4") %>
                <h2>recipe4</h2>
                <p><a class="btn btn-default btn-success" <%= link_to "View Recipes",vegan_path %>
              </div>

              <div class="col-sm-4">
                <img class="img-thumbnail" width="400" height="300" <%= image_tag("noimage.jpg", :alt => "burger5") %>  
                <h2>Recipe5</h2> 
                <p><a class="btn btn-default btn-success" <%= link_to "View Recipes",veggie_path %>
              </div>

              <div class="col-sm-4">
                <img class="img-thumbnail" width="400" height="300" <%= image_tag("noimage.jpg", :alt => "burger5") %>  
                <h2>Recipe6</h2> 
                <p><a class="btn btn-default btn-success" <%= link_to "View Recipes",veggie_path %>
              </div>
        </div>
      </div>
</div>  