<div class="container fluid">

      <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="thumbnail" <%= image_tag("crumble.jpg", :alt => "crumble") %>
            <h2>Quick and easy Vegan Crumbles</h2>
            <p>Check ot our list of Vegan crumbles from the classics to the .....</p>
            <p><a class="btn btn-default" <%= link_to "View Recipes",vegan_path %>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="thumbnail" <%= image_tag("snickers.jpg", :alt => "snick") %>  
            <h2>Vegan Snickers</h2>
            <p>Try this healthy take on the nuuty classic</p>
            <p><a class="btn btn-default" <%= link_to "View Recipes",veggie_path %>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="thumbnail" <%= image_tag("meatthumb.jpg", :alt => "meat") %> 
            <h2>Meat Eaters</h2>
            <p>Explore the full list of Meat recipes</p>
            <p><a class="btn btn-default" <%= link_to "View Recipes",meat_path %>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="thumbnail" <%= image_tag("meatthumb.jpg", :alt => "meat") %> 
            <h2>Meat Eaters</h2>
            <p>Explore the full list of Meat recipes</p>
            <p><a class="btn btn-default" <%= link_to "View Recipes",meat_path %>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="thumbnail" <%= image_tag("meatthumb.jpg", :alt => "meat") %> 
            <h2>Meat Eaters</h2>
            <p>Explore the full list of Meat recipes</p>
            <p><a class="btn btn-default" <%= link_to "View Recipes",meat_path %>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="thumbnail" <%= image_tag("meatthumb.jpg", :alt => "meat") %> 
            <h2>Meat Eaters</h2>
            <p>Explore the full list of Meat recipes</p>
            <p><a class="btn btn-default" <%= link_to "View Recipes",meat_path %>
          </div><!-- /.col-lg-4 -->
        </div> 
</div>